{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {# Removed hidden_tag() to avoid Flask session #}
    <div>{{ form.username.label }} {{ form.username(class="form-control") }}</div>
    <div>{{ form.password.label }} {{ form.password(class="form-control") }}</div>
    <div>{{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}</div>
    <div>{{ form.submit(class="btn btn-success mt-2") }}</div>
</form>
<a href="{{ url_for('auth.login') }}">Already have an account? Login</a>
{% endblock %}
